<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <ul>
            <% organizations.forEach(organization => { %>
                <li>
                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                    <%= organization.name %>: <%= organization.contact_email %>
                    <br>
                    <span><%= organization.description %></span>
                </li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>